# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env.bak
venv.bak

# IDEs
.vscode/
.idea/

# Project Specific
sessions/
generated_sites/
*.zip

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
